:root {
  font: 16px / 1 sans-serif;
  font-family: 'Cabin', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url('./meagan-h-1414289-unsplash.jpg'); */
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(185, 0%, 0%, 0.5);
  background-color: hsla(202, 79%, 50%, 1);
  padding: 1rem 0 1rem 0;
  width: 100vw;
}

.nav-search {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsla(185, 0%, 0%, 0.3), hsla(185, 0%, 0%, 0.3)),
    url('./meagan-h-1414289-unsplash.jpg');
  background-size: cover;
  padding-bottom: 8rem;
}

.main-logo {
  display: flex;
  margin-bottom: 0.5rem;
}

.q {
  margin-right: -1rem;
  color: red;
  margin-bottom: 0;
}

.and {
  font-size: 4rem;
  padding-bottom: 0;
  color: white;
  z-index: 1;
  margin-bottom: 0;
}

.a {
  margin-left: -1rem;
  color: blue;
  margin-bottom: 0;
}

.header-caption {
  margin-top: 0;
  margin-bottom: 6rem;
  text-align: center;
  color: white;
}

.search-button {
  font-size: 1rem;
  padding: 0.2rem;
  width: 6rem;
  margin-left: 0.5rem;
  background-color: hsla(185, 50%, 0%, 0);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Cabin', sans-serif;
}

.search-button:hover {
  background-color: hsla(185, 50%, 100%, 0.5);
}

h1 {
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 5rem;
}

.submit {
  font-size: 1rem;
  padding: 0.2rem;
  width: 6rem;
  /* margin-left: 0.5rem; */
  margin-bottom: 1rem;
  background-color: hsla(185, 50%, 0%, 0);
  border: 1px solid black;
  border-radius: 4px;
  font-family: 'Cabin', sans-serif;
}

.submit:hover {
  background-color: hsla(185, 50%, 100%, 0.5);
}

.home .submit {
  color: white;
  border: 1px solid white;
}

.top-questions {
  background-color: white;
  margin-top: 1rem;
}

.top-questions-header {
  text-align: center;
}

.q_and_a {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-header {
  text-align: center;
  font-size: 1.6rem;
  margin: 3rem;
}

.home-questions {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
}

.question-and-answers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.browse-questions-container {
  max-width: 50rem;
}

.question-header {
  text-decoration: none;
  color: black;
}

.answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  padding: 0.4rem;
  font-family: 'Cabin', sans-serif;
}

.question-prompt {
  text-align: center;
  color: white;
}

.new-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 16rem;
  font-size: 1rem;
  padding: 0.2rem;
  font-family: 'Cabin', sans-serif;
}

.question {
  margin-bottom: 10px;
  margin-top: 10px;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-button {
  margin: 1rem;
  padding: 0.25rem 0.5rem 0.3rem 0.5rem;
  background-color: hsla(202, 79%, 50%, 1);
  border: none;
  border-radius: 3px;
  color: white;
}

.delete {
  padding: 0.25rem 0.5rem 0.3rem 0.5rem;
  background-color: hsla(202, 79%, 50%, 1);
  border: none;
  border-radius: 3px;
  color: white;
}

.line {
  background-color: grey;
  height: 1px;
  width: 100%;
}

textarea {
  width: 20rem;
  margin: 1rem;
  font-size: 1rem;
}
